h1 {
  font-family: "Space Mono", monospace;
  font-weight: 700, bold;
  line-height: 1.5;
}

h2 {
  margin: 30px;
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  margin: 2.5rem auto;
  width: 70%;
  display: inline-block;
}

button {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 13px;
  padding: 1.3rem 2rem;
}

img {
  width: 80%;
  margin-bottom: 100px;
}

.content {
  margin-top: 8rem;
  padding-left: 10rem;
}
